# Built application files
*.apk
*CvPD*.jar

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle build files
.gradle/
build/
release/

# Local configuration file (sdk path, etc)
local.properties

#intellij project files
*.iml
*.idea
/core/src/main/java/com/shatteredpixel/shatteredpixeldungeon/items/journal/
